@import "../../node_modules/@angular/material/_theming.scss";
$nissan-red: (
  0 : #f8e1e6,
  100 : #edb5c0,
  200 : #e18497,
  300 : #d5536d,
  400 : #cc2e4d,
  500 : #c3092e,
  600 : #bd0829,
  700 : #b50623,
  800 : #ae051d,
  900 : #a10212,
  A100 : #ffcbce,
  A200 : #ff989e,
  A400 : #ff656d,
  A700 : #ff4c55,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$primary: mat-palette($mat-light-blue, 800);
$accent: mat-palette($mat-grey, 600);
$warning: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warning);
