:host {
  display: block;
  position: relative;

  svg.donut-progress {
    transform: rotate(-90deg);
    border-radius: 50%;
  }

  svg.donut-progress {
    circle.dial {

    }
    circle.spinner {
      fill: #ddd;
      stroke-width: 1;
      opacity:1;
    }
  }
}