<svg class="donut-progress" [attr.width]="radius * 2" [attr.height]="radius * 2" viewBox="0 0 32 32">
	<defs>
    <filter id="f3" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceAlpha" dx="20" dy="20"></feOffset>
      <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10"></feGaussianBlur>
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend>
    </filter>
  </defs>
  <circle
    class="dial"
    r="16"
    cx="16"
    cy="16"
    [attr.fill]="bgColor"
    [attr.stroke]="getStroke()"
    [attr.stroke-width]="progressWidth"
    [attr.stroke-dasharray]="formattedPercent + ' 100'"></circle>
  <text [attr.x]="(radius / 16) + 3" y="24" textLength="20" transform="rotate(90 16,16)" font-size="3" fill="black">{{title}}</text>
	<text x="12" y="12" transform="rotate(90 16,16)" font-size="5" fill="black">{{formattedPercent | number : '1.0-0'}}%</text>
	<image x="0"
    y="0"
    xlink:href="assets/images/logo.png"
    style="opacity:0.2"
    transform="rotate(90 16,16)"
    [attr.width]="radius / 2"
    [attr.height]="radius / 2"></image>
</svg>
