@import "../../material-palette.scss";

authenticating-progress {
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-progress-spinner {
    padding: 1.3rem;
  }
}

unauthorised-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
