@import "../../../material-palette.scss";
:host {
  .drop-container {
    text-align: center;
    padding: 4rem;
    border: 3px dashed rgba(0,0,0,0.2);
    transition: 0.1s;
    input {
      display: none;
    }

    &.is-drop-over {
      background: rgba(0, 0, 0, 0.01);
      border-color: rgba(0, 0, 0, 0.3);
      transform: scale(1.03);
    }
  }

  [mat-mini-fab] {
    margin-left: 1rem;
  }

  .flex.flex-cols-2 {
    width: 100%;
    flex-direction: column;
    > * {
      padding: 0
    }
  }

  .warn {
    color: mat-color($warning);
  }

  .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
  }
}
