<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nissan | Flex Reporter</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="/assets/images/favicon_48x48.png" />
    <meta name="viewport" content="width=device-width">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href='<%= htmlWebpackPlugin.options.baseUrl %>'>
  </head>
  <body>
    <script src="/dll/polyfills.js"></script>
    <script src="/dll/vendors.js"></script>

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <app-root></app-root>
    <script type="text/javascript" src="https://nissan-neis-ssl.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-ktko4o/b/c/7ebd7d8b8f8cafb14c7b0966803e5701/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-UK&collectorId=3d3e809a"></script>
  </body>
</html>
